<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">




<div class="zoom" th:fragment="sidebar">
	<a class="zoom-fab zoom-btn-large" id="zoomBtn"><i
		class="fa fa-bars"></i></a>
	<ul class="zoom-menu">
		<li><a th:href="@{/}"
			class="zoom-fab zoom-btn-sm zoom-btn-tangram scale-transition scale-out"><i
				class="fa fa-dashboard"></i></a></li>
		<li><a th:href="@{practitioner(id=${practitioner.userId})}"
			class="zoom-fab zoom-btn-sm zoom-btn-person scale-transition scale-out"><i
				class="fa fa-user"></i></a></li>
		<li><a th:href="@{disponibilities(id=${practitioner.userId})}"
			class="zoom-fab zoom-btn-sm zoom-btn-doc scale-transition scale-out"><i
				class="fa fa-calendar"></i></a></li>
		<li><a th:href="@{consultations(id=${practitioner.userId})}"
			class="zoom-fab zoom-btn-sm zoom-btn-report scale-transition scale-out"><i
				class="fa fa-address-book"></i></a></li>

	</ul>
	<div class="zoom-card scale-transition scale-out">
		<ul class="zoom-card-content">
			<li>Content</li>
			<li>Content</li>
			<li>Content</li>
			<li>Content</li>
		
		</ul>
	</div>
</div>

</html>