<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<title>Forgot</title>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />

</head>

<body>
	<br />
	<div class="container">

		<br />
		<div class="col-lg-12 well" style="width: 750px; margin: 0px auto">
			<p>Hello,Enter your Email address we will send you a link to
				reset your password</p>

			<br />
			<div class="panel-body">

				<div th:if="${successMessage}" class="alert alert-success"
					role="alert" th:text="${successMessage}"></div>

				<div th:if="${errorMessage}" class="alert alert-danger" role="alert"
					th:text="${errorMessage}"></div>



				<form method="post" th:action="@{/forgot}" autocomplete="off">
					<div class="form-group">
						<label>Email :</label> <input class="form-control" name="email"
							placeholder="user@proxis.cm" type="email" required="true" />
					</div>


					<div class="form-group">
						<button class="btn btn-info btn-lg btn-block" type="submit">Set
							my credentials</button>
					</div>
				</form>
				<p>
					<a th:href="login" class="btn">Sign In </a>
				</p>

			</div>
		</div>
	</div>



</body>
</html>
