<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="ISO-8859-1">
<title>practitioner</title>

<link rel="stylesheet" type="text/css"
	href="../static/css/bootstrap.min.css"
	th:href="@{/css/bootstrap.min.css}" />
<link rel="stylesheet" type="text/css"
	href="../static/css/jquery-ui.min.css"
	th:href="@{/css/jquery-ui.min.css}" />
<link rel="stylesheet" type="text/css" href="../static/css/index.css"
	th:href="@{/css/index.css}" />
<link rel="stylesheet"
	href="http://netdna.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">

<link rel="stylesheet"
	href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700|Material+Icons">
<link rel="stylesheet"
	href="https://unpkg.com/bootstrap-material-design@4.0.0-beta.3/dist/css/bootstrap-material-design.min.css">


<script src="../static/js/jquery-3.2.1.min.js"
	th:src="@{/js/jquery-3.2.1.min.js}"></script>
<script src="../static/js/jquery-ui.min.js"
	th:src="@{/js/jquery-ui.min.js}"></script>
<script src="../static/js/bootstrap.min.js"
	th:src="@{/js/bootstrap.min.js}"></script>

</head>

<body>
	<div th:replace="ui/header :: header"></div>
	<div th:replace="ui/sidebar :: sidebar"></div>



	<div class="container">
		<div class="row">
			<div class="col-sm-10">
				<h1>User name</h1>
			</div>
		</div>
		<div class="row">
			<div class="col-sm-3">
				<!--left col-->


				<div class="text-center">
					<img src="http://ssl.gstatic.com/accounts/ui/avatar_2x.png"
						class="avatar img-circle img-thumbnail" alt="avatar">
					<h6>Upload a different photo...</h6>
					<input type="file" class="text-center center-block file-upload">
				</div>
				</hr>
				<br>


			</div>
			<!--/col-3-->
			<div class="col-sm-9">
				<ul class="nav nav-tabs">
					<li class="active"><a data-toggle="tab" href="#personal">Personal</a></li>
					<li><a data-toggle="tab" href="#degrees">Degrees</a></li>
					<li><a data-toggle="tab" href="#careers">Careers</a></li>
				</ul>


				<div class="tab-content">
					<div class="tab-pane active" id="personal">
						<hr>
						<form class="form" th:action="@{/UpdatePractitioner}"
							method="post" enctype="multipart/form-data">
							<input type="hidden" th:field="*{practitioner.userId}" /> <input
								type="hidden" th:field="*{practitioner.userName}" /> <input
								type="hidden" th:field="*{practitioner.enable}" /> <input
								type="hidden" th:field="*{practitioner.userPassword}" /> <input
								type="hidden" th:field="*{practitioner.userConnectionNumber}" />
							<input type="hidden" th:field="*{practitioner.createdAt}" /> <input
								type="hidden" th:field="*{practitioner.updatedAt}" /> <input
								type="hidden" th:field="*{practitioner.confirmationToken}" /> <input
								type="hidden" th:field="*{practitioner.resetToken}" /> <input
								type="hidden" th:field="*{practitioner.userType}" />
							<div class="form-group">

								<div class="col-xs-12">
									<label title="Cameroon national order of medicine practitioner">National order of doctor ID :  </label><input type="text"
										th:value="${practitioner.idOnmc}"
										th:field="*{practitioner.idOnmc}" />
								</div>
							</div>
							<div class="form-group">

								<div class="col-xs-12">
									<label>You're a : </label><select class="form-control"
										th:field="*{practitioner.userGender}"><option
											th:each="gender : ${genders}" th:value="${gender}"
											th:text="${gender}"></option>
									</select>
								</div>
							</div>

							
							<div class="form-group">
								<div class="col-xs-6">
									<label>FirstName : </label><input type="text"
										class="form-control" th:field="*{practitioner.userFirstName}" />
								</div>
							</div>
							<div class="form-group">

								<div class="col-xs-6">
									<label>Last Name : </label><input type="text"
										class="form-control" th:field="*{practitioner.userLastName}" />
								</div>
							</div>
							
							<div class="form-group">

								<div class="col-xs-6">
									<input type="text"
										class="form-control" name="phone" id="phone"
										placeholder="enter phone"
										th:field="*{practitioner.userPhoneNumber}"
										title="enter your phone number if any.">
								</div>
							</div>
							
							<div class="form-group">

								<div class="col-xs-6">
									<label>Birthday : </label><input type="date"
										class="form-control"
										th:field="*{practitioner.userBirthdayDate}" />
								</div>
							</div>
							<div class="form-group">

								<div class="col-xs-6">
									<label>Email : </label><input class="form-control" type="email"
										placeholder="Example : your@ening.cm"
										th:field="*{practitioner.userEmail}" />
								</div>
							</div>

							<div class="form-group">
								<div class="col-xs-12">
									<br>
									<button class="btn btn-lg btn-success" type="submit">
										<i class="glyphicon glyphicon-ok-sign"></i> Save
									</button>
									<button class="btn btn-lg" type="reset">
										<i class="glyphicon glyphicon-repeat"></i> Reset
									</button>
								</div>
							</div>
						</form>

						<hr>

					</div>
					<!--/tab-pane-->
					<div class="tab-pane" id="degrees">
						<form method="post" action="@{/add_career}">

							<div class="form-group">
								<div class="col-xs-6">
									<input type="date" id="start" name="start" min="1900-01"
										class="form-control" th:field="*{studie.date}">
								</div>
							</div>
							<div class="form-group">
								<div class="col-xs-6">
									<input type="text" id="end" name="end" class="form-control"
										placeholder="School name" th:field="*{studie.school}">
								</div>
							</div>
							<div class="form-group">
								<div class="col-xs-6">
									<select class="form-control" th:field="*{studie.speciality}">
										<option th:each="spec:${specialities}" th:value="${spec}"
											th:text="${spec}"></option>

									</select>
								</div>
							</div>
							<div class="form-group">
								<div class="col-xs-6">
									<select th:field="*{studie.grade}">
										<option th:each="grd:${grades}" th:value="${grd}"
											th:text="${grd}"></option>

									</select>
								</div>
							</div>
							<button class="btn btn-lg btn-success" type="submit">
								<i class="glyphicon glyphicon-ok-sign"></i> Save
							</button>



						</form>

						<div>
							<fieldset>
								<legend>List</legend>
								<div id="degree" class="content">

									<br />

									<div class="form-row">
										<div class="col-md-2">
											<div class="table-responsive">
												<table class="table">
													<thead>
														<tr>
															<th scope="col">Date</th>
															<th scope="col">School</th>
															<th scope="col">Speciality</th>
															<th scope="col">Grade</th>
															<th scope="col"></th>

														</tr>
													</thead>
													<tbody>
														<tr th:each="studie : ${practitioner.studies} ">
															<td th:text="${studie.date}"></td>
															<td th:text="${studie.school}"></td>
															<td th:text="${studie.speciality}"></td>
															<td th:text="${studie.grade}"></td>
															<td><a
																onclick="return confirm('are you sure about this action ?')"
																th:href="@{{delete_studie(id=${studie.id_studies})}"
																class="btn btn-danger">DELETE</a></td>
														</tr>

													</tbody>
												</table>
											</div>
										</div>


									</div>

								</div>

							</fieldset>

						</div>

					</div>
					<!--/tab-pane-->
					<div class="tab-pane" id="careers">


						<hr>
						<form method="post" action="@{/add_career}">

							<div class="row">
								<div class="col-sm-2">
									<input type="month" id="start" name="start" min="2018-03"
										class="form-control">
								</div>
								<div class="col-sm-2">
									<input type="month" id="end" name="end" class="form-control">
								</div>

								<div class="col-sm-2">
									<input type="text" class="form-control"
										placeholder="Hospital or clinic name">
								</div>

								<div class="col-sm-2">
									<input type="text" class="form-control"
										placeholder="Position held">
								</div>

								<div class="col-sm-2">
									<select class="form-control"
										th:field="*{experience.speciality}">
										<option th:each="spec:${specialities}" th:value="${spec}"
											th:text="${spec}"></option>

									</select>
								</div>

								<button class="btn btn-lg btn-success" type="submit">
									<i class="glyphicon glyphicon-ok-sign"></i> Save
								</button>

							</div>



						</form>
						<div>
							<fieldset>
								<legend>LIST</legend>
								<div id="career" class="content">
									<div class="form-row">

										<div class="col-md-2">

											<div class="table-responsive">
												<table class="table">
													<thead>
														<tr>
															<th scope="col">Begin</th>
															<th scope="col">End</th>
															<th scope="col">Workplace</th>
															<th scope="col">Position Held</th>
															<th scope="col">Speciality</th>
															<th scope="col"></th>
														</tr>
													</thead>
													<tbody>
														<tr th:each="experience : ${practitioner.experiences} ">
															<td th:text="${experience.date_begin}"></td>
															<td th:text="${experience.date_end}"></td>
															<td th:text="${experience.workplace}"></td>
															<td th:text="${experience.position_held}"></td>
															<td th:text="${experience.speciality}"></td>
															<td><a
																onclick="return confirm('are you sure about this action ?')"
																th:href="@{delete_experience(id=${experience.id_experience})}"
																class="btn btn-danger">DELETE</a></td>
														</tr>
													</tbody>
												</table>
											</div>


										</div>

									</div>

								</div>

							</fieldset>
						</div>
					</div>

				</div>
				<!--/tab-pane-->
			</div>
			<!--/tab-content-->

		</div>
		<!--/col-9-->
	</div>
	<!--/row-->





	<!-- jQuery first, then Bootstrap JS. -->
	<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"></script>
	<script src="https://unpkg.com/popper.js@1.12.5/dist/umd/popper.js"></script>
	<script
		src="https://unpkg.com/bootstrap-material-design@4.0.0-beta.3/dist/js/bootstrap-material-design.js"></script>
	<script type="text/javascript">$(document).ready(function() {
	
	
			var readURL = function(input) {
				if (input.files && input.files[0]) {
					var reader = new FileReader();
	
					reader.onload = function(e) {
						$('.avatar').attr('src', e.target.result);
					}
	
					reader.readAsDataURL(input.files[0]);
				}
			}
	
	
			$(".file-upload").on('change', function() {
				readURL(this);
			});
		});
	</script>

	<script
		src="https://cdnjs.cloudflare.com/ajax/libs/velocity/1.5.0/velocity.min.js"></script>
	<script src="../static/js/index.js" th:src="@{/js/index.js}"></script>
</body>
</html>