<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<title>Reset</title>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />

</head>

<body>
	<div>
		<div th:if="${successMessage}" class="alert alert-success"
			role="alert" th:text="${successMessage}"></div>

		<div th:if="${errorMessage}" class="alert alert-danger" role="alert"
			th:text="${errorMessage}"></div>


		<p>Set your new password</p>

		<form th:action="@{/reset}" method="post">

			<input type="hidden" name="mytoken" th:value="${resetToken}" />

			<div class="form-group input-group">
				<input name="password" type="password" id="password"
					placeholder="Password" class="form-control" required="true" />
			</div>

			<div class="form-group input-group has-feedback">
				<input type="password" class="form-control"
					placeholder="Confirm Password" name="ConfirmPassword" />

				<div class="help-block with-errors"></div>
			</div>
			<button type="submit" class="btn btn-primary block full-width m-b">Save
			</button>

		</form>
	</div>

</body>
</html>
