<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="ISO-8859-1">
<title>find</title>
<link rel="stylesheet" type="text/css"
	href="../static/css/bootstrap.min.css"
	th:href="@{/css/bootstrap.min.css}" />
<link rel="stylesheet" type="text/css"
	href="../static/css/jquery-ui.min.css"
	th:href="@{/css/jquery-ui.min.css}" />
<link rel="stylesheet"
	href="https://use.fontawesome.com/releases/v5.2.0/css/all.css"
	integrity="sha384-hWVjflwFxL6sNzntih27bfxkr27PmbbK/iSvJ+a4+0owXq79v+lsFkW54bOGbiDQ"
	crossorigin="anonymous">

<link rel="stylesheet" type="text/css"
	href="../static/css/sidebar-menu.css"
	th:href="@{/css/sidebar-menu.css}" />


<script src="../static/js/jquery-3.2.1.min.js"
	th:src="@{/js/jquery-3.2.1.min.js}"></script>
<script src="../static/js/jquery-ui.min.js"
	th:src="@{/js/jquery-ui.min.js}"></script>
<script src="../static/js/bootstrap.min.js"
	th:src="@{/js/bootstrap.min.js}"></script>
<script src="../static/js/disponibility.js"
	th:src="@{/js/disponibility.js}"></script>



</head>
<body style="background: #222d32; color: white;">
	<div th:replace="ui/sidebar :: sidebar2"></div>

	<section>
		<h1 id="title" class="text-center">Find a doctor</h1>
		<div id="main"
			class="container col-xs-8 col-md-6 border rounded shadow-sm p-3 bg-white rounded">
			<h4>Find a doctor quickly</h4>

			<form method="post" th:action="@{/find}">
				<div class="form-group">
					<input type="hidden" th:value="${patient.userId}" name="id" />
					<div class="col-xs-6">
						<label>City</label><select class="form-control" name="city">
							<optgroup th:label="DOUALA">
								<option th:each="city:${doualaCities}" th:text=${city}
									th:value=${city}></option>
							</optgroup>
							<optgroup th:label="YAOUNDE">
								<option th:each="city:${yaoundeCities}" th:text=${city}
									th:value=${city}></option>
							</optgroup>
						</select>
					</div>
				</div>
				<div class="form-group">

					<div class="col-xs-6">
						<label>Specialist</label><select class="form-control"
							name="speciality">
							<option th:each="speciality:${specialities}"
								th:text=${speciality} th:value=${speciality}></option>
						</select>
					</div>
				</div>
				<div class="form-group">

					<div class="col-xs-6">
						<label>Mode</label><select id="categories"
							class="selectpicker show-tick form-control" name="categorie"
							data-width="fit">
							<option th:each="category:${categories}" th:text=${category}
								th:value=${category}></option>
						</select>
					</div>
				</div>
				<div class="form-group">

					<div class="col-xs-4">
						<label>Time Slot</label><select id="slots"
							class="selectpicker show-tick form-control" name="slot"
							data-width="fit" data-actions-box="true">
							<option th:each="slot:${slots}" th:text=${slot} th:value=${slot}></option>
						</select>
					</div>
				</div>
				<div class="form-group">

					<div class="col-xs-6">
						<button type="submit" class="form-control btn-info">Find
							doctor</button>
					</div>
				</div>


			</form>
		</div>
	</section>
	<div class="form-row" th:if="${disponibilities}">

		<div class="col-md-10">

			<div class="table-responsive">
				<table class="table">
					<thead>
						<tr>
							<th scope="col">Doctor</th>
							<th scope="col">City</th>
							<th scope="col">Mode</th>
							<th scope="col">Status</th>
							<th scope="col"></th>


						</tr>
					</thead>
					<tbody>
						<tr th:each="disponibility : ${disponibilities} ">

							<td><a
								th:onclick="'viewdoctor(\''+${disponibility.practitioner}+'\')'"><label
									th:text="${disponibility.practitioner.userLastName}"></label> <label
									th:text="${disponibility.practitioner.userFirstName}"></label></a></td>
							<td><select><option
										th:each="city : ${disponibility.cities}" th:text="${city}"></option></select></td>
							<td><p th:each="mode : ${disponibility.categories}">
									<label th:text="${mode}"></label>
								</p></td>
							<td
								th:class="${disponibility.status}==free? alert-success : alert-danger"
								th:text="${disponibility.status}"></td>
							<td><a
								th:href="@{/pick_disponibility(id=${disponibility.id_disponibility})}"
								class="btn btn-success">Pick</a></td>


						</tr>
					</tbody>
				</table>
			</div>


		</div>

	</div>
	<div id="mymodal" class="modal" tabindex="-1" role="dialog">
		<div class="modal-dialog" role="document">
			<div class="modal-content">
				<div class="modal-header">
					<h5 class="modal-title" id="detailsModal"></h5>
					<button type="button" class="close" data-dismiss="modal"
						aria-label="Close">
						<span aria-hidden="true">&times;</span>
					</button>
				</div>
				<div id="detailsModal" class="modal-body">
					<p></p>
				</div>
				<div class="modal-footer">
					<button type="button" class="btn btn-primary">Save changes</button>
					<button type="button" class="btn btn-secondary"
						data-dismiss="modal">Close</button>
				</div>
			</div>
		</div>
	</div>
	<script src="../static/js/sidebar-menu.js"
		th:src="@{/js/sidebar-menu.js}"></script>
	<script>
    $.sidebarMenu($('.sidebar-menu'))
  </script>

</body>
</body>
</html>