<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<title>Access Denied</title>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<link rel="stylesheet" type="text/css"
	href="../static/css/bootstrap/bootstrap.min.css"
	th:href="@{/css/bootstrap/bootstrap.min.css}" />
<link rel="stylesheet" type="text/css" href="../static/css/register.css"
	th:href="@{/css/register.css}" />
</head>

<body>

	<h1>You do not have permission to access this page!</h1>
	<form th:action="@{/logout}" method="post">
		<input type="submit" value="Sign in as different user" /> <input
			type="hidden" name="${_csrf.parameterName}" value="${_csrf.token}" />
	</form>


	<script th:src="@{/js/jquery-3.2.1.min.js}"></script>
	<script src="../static/js/bootstrap/bootstrap.min.js"
		th:src="@{/js/bootstrap/bootstrap.min.js}">
		
	</script>
</body>
</html>